[Desktop Entry]
Type=Application
Name=Kirjanpito-ohjelma
Exec=kitsas %F
Icon=kitsas
Comment=Avoimen lähdekoodin kirjanpitäjä
Terminal=false
Categories=Office;Finance;Qt;
MimeType=application/vnd.sqlite3;
